<!-- <app-fix-problems></app-fix-problems> --> 

<!-- <app-debugger-tests></app-debugger-tests> --> 

<!-- <app-matchers></app-matchers> --> 

<!-- <app-stub></app-stub> --> 

<!-- <app-spyon></app-spyon> --> 

<!-- <app-mock-service></app-mock-service> -->

<!-- <app-request></app-request> --> 

<!-- <app-asynchronous></app-asynchronous> --> 

<!-- <app-testing></app-testing> --> 

<!-- <app-fixture-detect-change></app-fixture-detect-change> -->

<!-- <app-auto-detect-change></app-auto-detect-change> -->

<!-- <app-handle-event></app-handle-event> -->

<!-- <app-fill-form></app-fill-form> -->

<!-- <app-input-output
[user]="user"
(userMessage)="getUserMessage($event)"></app-input-output> -->

<h1>Teste Unitario / Jasmine e Karma</h1>

<app-testing-pipes-directive-route></app-testing-pipes-directive-route>
<router-outlet></router-outlet>
